{% extends 'layout.html' %}

{% block body %}
  <h1>Add Activity</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.title, class_="form-control") }}
      {% if session['username'] == "admin" %}
        <label for="deparment">Select Department:</label>
        <select class="form-control" name="department">
          <option value = "Businesses">Businesses</option>
          <option value = "Contractor">Contractor</option>
          <option value = "Permits">Permits</option>
          <option value = "Police">Police</option>
          <option value = "Power">Power</option>
          <option value = "Sewage">Sewage</option>
          <option value = "Transportation">Transportation</option>
          <option value = "Water">Water</option>
        </select>
      {% endif %}
    </div>
    <div class="form-group">
      {{ render_field(form.min_time_start, class_="form-control") }}
      {{ render_field(form.max_time_start, class_="form-control") }}
      {{ render_field(form.min_time_end, class_="form-control") }}
      {{ render_field(form.max_time_end, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.duration_start, class_="form-control") }}
      {{ render_field(form.duration_end, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}
