{% extends 'layout.html' %}

{% block body %}
  <table class="table table-dark">
  	<tr>
  		<th scope="col">Name</th>
  		<th scope="col">Department</th>
  		<th scope="col">Start Min Date</th>
  		<th scope="col">Start Max Date</th>
  		<th scope="col">End Min Date</th>
  		<th scope="col">End Max Date</th>
  	</tr>
  	{% for i in content %}
  	  <tr>
  	  	<td>{{ i[0] }}</td>
  	  	<td>{{ i[1] }}</td>
  	  	<td>{{ i[2] }}</td>
  	  	<td>{{ i[3] }}</td>
  	  	<td>{{ i[4] }}</td>
  	  	<td>{{ i[5] }}</td>
  	  </tr>
  	{% endfor %}
  </table>
{% endblock %}